body{
    background-image: url("photosambiance/Fotolia_59627880_Subscription_Monthly_MD.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    width: 35%;
    margin: auto;
    display: block;
}
#con{
    margin-top: 4%;
    margin-left: 6.5%;
    width: 25%;
}
#butto{
    margin-top: 6.5%;
    margin-left: 37%;
    width: 25%; 
}
#butto2{
    margin-top: -4.5%;
    margin-left: 60%;
    width: 25%; 
}
.form-label{
    background-color: white;
}
#nav{
    position: absolute;
    margin-top: -47.5%;
    margin-left: 60%;
    width: 30%;
}